[Unit]
Description=Fetch and pull git repository changes
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.config/containers/systemd/git-pull.sh

[Install]
WantedBy=multi-user.target
