[Unit]
Description=Run git-pull.service every 5 minutes

[Timer]
# Run 1 minute after boot
OnBootSec=1min
# Run every 5 minutes thereafter
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
